/* Anything specific to Contact Page page will go in here */

/**
Colours
Primary Green: #1C5253
 -D - #00292B
 -L - #4B7F7F
Secondary Red: #B5174A
 -D - #7F0023
 -L - #EC5375
Tertiary Beig: #FFFED5
 -D - #CCCBA4
 -L - #FFFFFF
Tertiary Whte: #FFFFFF
 -D - #CCCCCC
 -L - #FFFFFF
**/

body{
background-color: #FFFED5;
}


section.header{
    width: 100%;
    background-color: #00292B;
}

section.header div{
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

section.header h1{
        width: 100%;
}

section.order{
    width: 100%;
}

div.summary{
    max-width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #cccccc;
}

div.full_order{
    min-width: 50%;
}

div.item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

div.details ul{
    list-style-type: "- ";
}

.empty{
    padding: 50px;
}

.hidden{
    display: none;
}

div.total{
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.total p{
    width: min-content;
    font-size: 45pt;
}

h4{
    color: #B5174A;
    font-size: 20pt;
}

div.total a{
    width: 70%;
    margin: 15px;
    font-size: 20pt;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    font-family: Sangharia;
    font-size: 28pt;
    text-align: center;
}

a.add_more{
    background-color: #B5174A;
    border-color:#EC5375;
    color: #FFFED5;
}

a.start_order{
    background-color: #1C5253;
    border-color:#4B7F7F;
    color: #FFFED5;
}

a.confirm_pay{
    background-color: #CCCBA4; 
    border-color:#FFFFFF; 
    color: #B5174A;
}

