/* Anything specific to Food Menu page will go in here */

/**
Colours
Primary Green: #1C5253
 -D - #00292B
 -L - #4B7F7F
Secondary Red: #B5174A
 -D - #7F0023
 -L - #EC5375
Tertiary Beig: #FFFED5
 -D - #CCCBA4
 -L - #FFFFFF
Tertiary Whte: #FFFFFF
 -D - #CCCCCC
 -L - #FFFFFF
**/

body{
    background-color: #1C5253;
}

section.filters{
    width: 100%;
    background-color: #00292B;
}

section.filters div{
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

section.filters div h1{
    width: 100%;
}

ul.filter_options{
    padding: 15px;
    max-width: 900px;
    list-style-type: none;
}

ul.filter_options li{
    display: inline;
    margin: 0 10px;
}

ul.filter_options li:hover{
    filter: brightness(1.5);
    cursor: pointer;
}

.filter{
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #CCCBA4;
    color: #CCCBA4;
    padding: 12px;
    font-size: 14pt;
}

.active{
    background-color: #CCCBA4; 
    border-color:#FFFFFF;
    color: #B5174A;
}



section.menu{
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.option{
    width: 48%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
}

div.option .image{
    width: 250px;
    height: 200px;
}

div.option .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px 0px 0px 30px;
}

div.info_container{
    margin-left: 4px;
    border-radius: 0px 30px 30px 0px;
    padding: 15px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.option_desc h4{ 
    color: #B5174A;
    font-size: 20pt;
}

div.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

div.footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}


@media only screen and (max-width: 800px) {
    div.option{
      width: 95%;
    }
  }