/* Anything specific to Food Menu page will go in here */

/**
Colours
Primary Green: #1C5253
 -D - #00292B
 -L - #4B7F7F
Secondary Red: #B5174A
 -D - #7F0023
 -L - #EC5375
Tertiary Beig: #FFFED5
 -D - #CCCBA4
 -L - #FFFFFF
Tertiary Whte: #FFFFFF
 -D - #CCCCCC
 -L - #FFFFFF
**/


div.menu_filter{
    max-width: 100%;
    min-height: 200px;
    background-color: #00292B;
}

div.menu{
    background-color: #1C5253;
    max-width: 100%;
    min-height: 600px;
}