/**
Colours
Primary Green: #1C5253
 -D- #00292B
 -L- #4B7F7F
Secondary Red: #B5174A
 -D- #7F0023
 -L- #EC5375
Tertiary Beig: #FFFED5
 -D- #CCCBA4
 -L- #FFFFFF
Tertiary Whte: #FFFFFF
 -D- #CCCCCC
 -L- #FFFFFF
**/

body{
    display: flex;
    align-content: normal;
    height: 100vh;
    justify-content: center;
    background: url('../resources/pizzas/welcome_screen.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main.welcome_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 41, 43, 0.7);
}

div.login_container{
    max-width: 600px;
    background-color: antiquewhite;
    padding: 30px;
    /*flex styles*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.login_container p{
    padding: 15% 0;
    max-width: 65%;
    font-size: 16pt;
}

div.login_container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80%;
}

div.login_container ul li{
    text-align: center;
    padding: 15px 10px;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    margin: 15px;
    transition: 0.3s;
}

div.login_container ul li a{
    text-decoration: none;
    padding: 8% 20%;
    color: #FFFED5;
    font-family: Reklame;
    font-size: 18pt;
}

div.login_container ul li:hover{
    filter: opacity(0.8);
}

li#sign_in{
   background-color: #CCCBA4; 
   border-color:#FFFFFF;
}
li#sign_in a{
    color: #B5174A;
}

li#new_customer{
    background-color: #B5174A;
    border-color:#EC5375;
}

li#quick_pizza{
    background-color: #1C5253;
    border-color:#4B7F7F;
}

a.other_info{
    padding: 100px 0px 0px 0px;
    text-decoration: none;
    color: cornflowerblue;
    font-weight: 300;
    font-size: 9pt;
}

a.other_info:hover{
    color: darkcyan;
}