/**
Colours
Primary Green: #1C5253
 -D - #00292B
 -L - #4B7F7F
Secondary Red: #B5174A
 -D - #7F0023
 -L - #EC5375
Tertiary Beig: #FFFED5
 -D - #CCCBA4
 -L - #FFFFFF
Tertiary Whte: #FFFFFF
 -D - #CCCCCC
 -L - #FFFFFF
**/

/** Quick Pizza Styles*/
section.quick_pizza{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
}

div.quick_pizza_container{
    width: 600px;
    display: flex;
	flex-direction: column;
	align-items: center;
	background: #00292B;
	border-radius: 0 0 30px 30px;
}

div.quick_pizza_container span{
	color: #1C5253;
	transition: 0.3s;
}

div.quick_pizza_container span:hover{
	color:#b6174b;
	cursor: pointer;
}

div.quick_pizza_container p{
	color:#FFFED5;
}


/* Main Content Styles */
/* Signature Pizzas*/
section.signature_pizzas{
	background-color: #1C5253;
	display: flex;
	overflow-x: auto;
	padding: 100px 0px;
}

div.pizza{
	margin: 30px;
	width: min-content;
}

div.pizza .image{
	height: 280px;
    width: 288px;
}

div.pizza .image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.pizza_desc{
	background-color: #7F0023;
	color: #FFFED5;
	padding: 15px;;
}

.pizza_desc h4{
	font-size: x-large;
    margin: 0px;
	text-align: center;
	margin-bottom: 15px;
}

.pizza_desc p{
	font-size: 14pt;
}


section.meal_deals{
	background-color: #fffed5;
	padding: 1px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 50px 0px;
}

div.meal{
	margin: 30px;
	width: min-content;
	border: 1px solid #000;
}

div.meal .image{
	width: 500px;
	height: 250px;
}

div.meal .image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.meal_desc{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #ffffff;
}

.meal_desc p{
	padding: 15px;
	font-size: 14pt;
}

.meal_desc h4{
	font-size: x-large;
	margin: 0px;
	padding: 15px;
}



section.sides_desserts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1100px;
    margin: auto;
}

div.item .image{
	width: 450px;
	height: 260px;
}

div.item{
	margin: 15px;
}

div.item .image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

div.item img{
	width: 100%;
	object-fit: cover;
}

div.item h4{
    color: #fffed5;
    background: #7F0023;
    padding: 49px 0px 15px 15px;
    position: relative;
    font-size: 30pt;
}