*{box-sizing: border-box;} 
/* this star/asterisk above refers to ALL elements. The Box-Sizing*/

/**
Colours
Primary Green: #1C5253
 -D - #00292B
 -L - #4B7F7F
Secondary Red: #B5174A
 -D - #7F0023
 -L - #EC5375
Tertiary Beig: #FFFED5
 -D - #CCCBA4
 -L - #FFFFFF
Tertiary Whte: #FFFFFF
 -D - #CCCCCC
 -L - #FFFFFF
**/

@font-face{
	font-family: Oregano;
	src: url(../resources/fonts/Oregano-Regular.ttf);

	font-family: Skriptyca;
	src: url(../resources/fonts/Scriptyca.ttf);

	font-family: Reklame;
	src: url(../resources/fonts/ReklameScript-Regular_DEMO.otf);
}

body{
	padding: 	0px;
	margin:		0px;
	font-family: sans-serif;
}

h3, h1, h2, h4{
	padding: 0;
	margin: 0;
}

p{
	padding: 0;
	margin: 0;
	font-family: Oregano;
}

main.container{
	width: 100%;
}

.page_heading{
	color: #B5174A;
	text-shadow: 0px 1px 1px #FFFED5;
}

/* header and navigation styling */
header{
	width: 				100%;
	background-color:	#B5174A;
	display: 			flex;
	flex-wrap:			wrap;
	justify-content:	center;
}

footer{
	background-color: #4B7F7F;
	display: flex;
	justify-content: center;
	color: #FFFED5;
	font-family: Oregano;
	font-size: 14pt;
	padding: 30px;
}

footer p{
	font-size: 18pt;
}

/*talking directly to the element*/
div.logo{
	width: 100%;
	text-align: center;
}

div.logo img{
	filter: invert();
	width: 400px;
}

ul.links{
    list-style-type: none; /*removes the bullet points from the list*/
    margin: 0; /*removing default margin*/
    padding: 0; /*removing default padding*/
}

ul.links li{
	/*note the space after ul.links - this is where I tell 
	the browser to style the <li> after the element with <ul class="links">*/
	display: inline; /* makes the list run in a line instead  of on top of eachother*/
	padding: 20px;
	color: #fffed5;
}

ul.links li a{
	text-decoration: none;
	color: #fffed5;
}